.form-data {
	form {
		input {
			padding: 4px 10px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			border: none;
			border-radius: 6px;
		}

		.add-btn {
			padding: 6px 10px;
			border-radius: 6px;
			margin-left: 10px;
			border: none;
			background-color: #f8f9fa;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		}
	}
}
