.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	.header {
		height: 70px;
		width: 100%;
		border-radius: 8px 8px 0 0;
		display: flex;
		justify-content: center;
		color: white;
		overflow: hidden;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

		.navbar {
			width: 100%;
		}

		@media only screen and (max-width: 480px) {
			border-radius: 0;
		}
	}

	.hero {
		height: calc((100vh - 40px) - 140px);
		overflow-y: scroll;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		@media only screen and (max-width: 480px) {
			width: 100%;
			height: calc(100vh - 140px);
		}
	}
}
